<div class="col-md-6">
  <h4> TravelPhoto: A Server-App records your trip </h4>
   <ul>
    <li> Upload your trip info (blog/photo/video) to Server via App anytime </li>
    <li> Access your trip info on Map via App or Web </li>
    <li> Share your trip info to your family/friend </li>
  </ul>
  <br>

  <h4> Developers: </h4>
  <ul>
    <li> Bing Li </li>
    <li> Lilibeth De La Cruz </li>
    <li> Wei Li </li>
  </ul>
</div>

