<% if flash[:success] %>
  <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
<% end %>

<% if flash[:info] %>
  <div class="alert alert-info" role="alert"><%= flash[:info] %></div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-warning" role="alert"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% end %>
