<% if @user %>
  <% if @user.locations.any? %>
    <h4>Last known location for <%= @user.email %> on
    <%= @user.last_known_location.captured_at.strftime('%b %e, %Y at %I:%M:%S %p') %></h4>
    <%= render 'shared/users_location', zoom: 12 %>
  <% else %>
    <%= "Nothing to see here. No location data yet for #{@user.email}." %>
  <% end %>
<% end %>

<div id="map-canvas"></div>
